div#joinMenu
  h1 Join Room

  
  ul#joinList
  br
  div.control
    input#joinField(type='text' placeholder='your name')
    button#join join
  br
  button#refresh refresh
  br
  button#joinBack back