doctype html
html
  head
    title Node Wars
    link(rel='stylesheet', href='/css/main.css')
    script(src='/socket.io/socket.io.js')
    script(src='/dist/game.js')
  body
    canvas#myCanvas
    include gui/menu